a:link,
a:visited {
  background-color: rgba(19, 18, 18, 0.774);
  color: whitesmoke;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  face = "Comic sans MS"
}
li {
 border: 5px solid rgb(122, 113, 94);
 padding: 15px;
 color: white;
 font-family: sans-serif;
 font-size:3vh;
}
body {
 background-color: #303030;
}
